body {
  background-image: url("../img/bg_o.jpg");
  background-position: 100%;
}

/*Хидер*/
header {
  max-width: 1500px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  position: fixed;
}
/*Меню в хидере*/
ul li {
  display: inline-block;
  padding: 5px;
  margin-left: 25px;
  font-size: 20px;
  margin-bottom: -50px;
}
/*Ссылки*/
A {
  color: rgb(255, 210, 210); /* Цвет ссылок */
  text-decoration: none;
 }
 A:hover {
  color: rgb(71, 104, 255) /* Цвет посещенных ссылок */
 }
 A:active {
  color:  rgb(38, 108, 121) /* Цвет активных ссылок */
 }